@model StudentskaSluzba2.App_Start.Prijava

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prijava</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnicko_ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnicko_ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lozinka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lozinka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tip_Korisnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip_Korisnika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Prijava }) |
    @Html.ActionLink("Back to List", "Index")
</p>
